h1 {
    color: rgb(110, 0, 46); }
p {color: rgb(20, 121, 7);}
body {
    background: rgb(213,136,121);
background: radial-gradient(circle, rgba(213,136,121,1) 34%, rgba(202,213,45,1) 62%, rgba(197,252,7,1) 93%);
}
iframe {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.support {
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.what {
    font-size: 30px;
}
.old {
 font-size: 40px;
}
.me {
    color: rgb(59, 24, 0);
     font-size: 35px;
     display: flex;
     justify-content: center;
}
.game {display: flex;
justify-content: center;
}

.headers {
    display: flex;
    justify-content: center;
}
