* {
    font-size:16px;
}
h1 {
    color: rgb(110, 0, 46); }
p {color: rgb(20, 121, 7);}
body {
    background: rgb(131, 34, 15);
    background: radial-gradient(circle, rgb(12, 177, 95) 34%, rgb(5, 188, 194) 62%, rgb(128, 143, 73) 93%);
}
.sky{
    margin-top: 4rem;
}
iframe {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}
.support {
    color: black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
}
.what {
    font-size: 2rem;
}
.old {
 font-size: 3rem;
}
.game {display: flex;
justify-content: center;
}
.go {
    background: rgb(108, 15, 131);
    background: radial-gradient(circle, rgb(30, 243, 137) 34%, rgb(204, 7, 188) 62%, rgb(128, 143, 73) 93%);
}

.myButton {
	box-shadow: 4px 3px 0px 1px #000000;
	background:linear-gradient(to bottom, #eeff00 5%, #757471 100%);
	background-color:#eeff00;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	padding:10px 49px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #757471 5%, #eeff00 100%);
	background-color:#757471;
}
.myButton:active {
	position:relative;
	top:1px;
}